name: Build docker image and push to ecr

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      environment:
        required: true
        type: string
      dockerfile:
        required: false
        type: string
        default: "Dockerfile"
      context:
        required: false
        type: string
        default: "."
      build-args:
        required: false
        type: string
      platforms:
        required: false
        type: string
    outputs:
      image:
        description: "Final image tag"
        value: ${{ jobs.build.outputs.tag_sha }}

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    concurrency:
      group: docker-ecr-build-${{ inputs.repository }}-${{ inputs.environment }}-${{ github.head_ref || github.run_id }}
    outputs:
      tag_sha: ${{ steps.this.outputs.tag_sha }}
    steps:
      - uses: actions/checkout@v3
      - id: this
        uses: cardstack/gh-actions/docker-ecr@main
        with:
          environment: ${{ inputs.environment }}
          repository: ${{ inputs.repository }}
          entrypoint: ${{ inputs.entrypoint }}
          dockerfile: ${{ inputs.dockerfile }}
          context: ${{ inputs.context }}
          build-args: ${{ inputs.build-args }}
          platforms: ${{ inputs.platforms }}
