name: Build docker image and push to ecr

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      cluster:
        required: true
        type: string
      image:
        required: true
        type: string
      service_name:
        required: true
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency:
      group: ecs-deploy-${{ inputs.repository }}-${{ inputs.environment }}-${{ github.head_ref || github.run_id }}
    steps:
      - name: Set up env
        run: |
          if [ "${{ inputs.environment }}" = "production" ]; then
            echo "AWS_ROLE_ARN=arn:aws:iam::120317779495:role/github" >> $GITHUB_ENV
          elif [ "${{ inputs.environment }}" = "staging" ]; then
            echo "AWS_ROLE_ARN=arn:aws:iam::680542703984:role/github" >> $GITHUB_ENV
          else
            echo "unrecognized environment"
            exit 1;
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - uses: silinternational/ecs-deploy@master
        with:
          cluster_cmd: "--cluster"
          cluster: ${{ inputs.cluster }}
          image_cmd: "--image"
          image: ${{ inputs.image }}
          service_name_cmd: "--service-name"
          service_name: ${{ inputs.service_name }}
          force_new_deployment_cmd: "--force-new-deployment"
          timeout_cmd: "--timeout"
          timeout: "300"
